@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  background-color: hsl(231, 73%, 9%);
  color: #8F9BB7;
  overflow-x: hidden;
  min-height: 100vh;
}

.white {
  fill: white;
  stroke: white
}

.gradient-text {
  font-weight: 700;
  line-height: 72px;
  /* identical to box height, or 112% */
  letter-spacing: -0.03em;

  /* Linear gradient */

  background: linear-gradient(180deg, #F6F6F7 0%, #7E808F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.gradient-bg {
  background: linear-gradient(261.47deg, rgba(21, 25, 52, 0.52) 14.6%, rgba(21, 25, 52, 0.08) 49.66%, rgba(21, 25, 52, 0.49) 87.77%);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}